/*
 * Globals
 *CORES
 -------
 ROXO: #9b59b6;
 ROXO ESCURO: #8e44ad;
 */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    position:relative;
}

#wpadminbar{
    display:none;
}

a{
  color:#9b59b6;  
}

a:hover{
    color:#8e44ad;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

ul{
    padding:0;
    list-style:none;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*
 * Masthead for nav
 */

.blog-masthead {
    z-index:2;
    position:fixed;
    top:0;
    width:100%;
    padding:0.8rem;
    text-transform: uppercase;
    background-color:#9b59b6;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.search-form-top form{
    display:flex;
    justify-content: flex-end;
}

.blog-masthead h1{
    color:white;
    font-size:15px;
    font-family: 'Pacifico', cursive;
    margin-bottom:0;
}

.blog-masthead .col-sm-12, .blog-masthead .col-md-3{
    padding:0;
}

.blog-masthead h1 a{
    color:white;
    opacity:0.5;
    transition:.2s;
    text-decoration:none; 
}

.blog-masthead h1 a:hover{
    opacity:1;
}

.blog-masthead div{
    align-items:center;
}

/* NAV MOBILE */

.nav-mobile{
    display:none;
    justify-content: flex-end;
    position:relative;
}

.nav-mobile svg{
    color:white;
    cursor:pointer;
    font-size:1.5rem;
}

.nav-mobile svg:hover{
    opacity:0.8;
}

.accordion{
    padding:1rem;
    display:none;
    position:absolute;
    background:#57606f;
    width:100%;
    top:50px;
    left:0;
}

.accordion .blog-nav ul{
    display:flex;
    flex-direction: column;
    margin-bottom:0;
}

.accordion .blog-nav li{
   margin-bottom:1rem;
}

.accordion .blog-nav a{
    color:white;
}

.accordion form{
    text-align:center;
    margin-bottom:1rem;
}

/* Nav links */

.blog-nav ul {
    display: flex;
    justify-content: center;
    align-items:center;
    width:100%;
}

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

#menu-menu-de-navegacao{
    margin-bottom:0 !important;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */

.blog-nav .current_page_item a {
    color: #fff;
}

.blog-nav .current_page_item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    margin-top:38px;
    padding: 40px 0;
    background:url(img/bg-header.jpg) no-repeat center center fixed;
    background-size:cover;
}

.blog-header h1 a,.blog-header p,.blog-header h1{
    color:white;
    text-shadow:2px 1px 1px black;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */

.pager{
    display:flex;
    justify-content: space-between;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.map{
    width:100%;
}


/*
 * Footer
 */
.blog-main,.blog-sidebar{
    margin-top:3rem;
}
.blog-sidebar{
    background:#F5F5F5;
    border:1px dashed #57606f;
    height:100%;
}

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.attachment-post-thumbnail{
    width:100%;
    height:auto;
}

.blog-post img{
    width:100%;
    height:auto;
}

.blog-post img:hover{
    opacity: 0.8;
    transition:.2s;
}

.blog-post span{
    font-weight:bolder;
}

.blog-post h2{
    margin-top:1rem;
}

.post-image{
    max-height:500px;
    overflow: hidden;
}

.post-categories{
    list-style:none;
    padding:0;
}

form input, form button{
    border:none;
    height:35px;
    background:white;
}

form input{
    border-radius:2px;
    padding-left:10px;
}

form button{
    border-bottom-right-radius:2px; 
    border-top-right-radius:2px;
    margin-left:-6px;
    cursor:pointer;
}

.search-form form input{
    box-shadow:3px 1px 20px silver;
}

/*Comentarios*/

#submit{
    background:#2f3542;
    color:white;
    cursor:pointer;
}

#submit:hover{
    background:#57606f;
}

.comment-form-comment label{
    display:none; 
}

#comment{
    width:100%;
}

.fn,.comment-meta a:first-child, .comment-reply-link{
    font-weight: bolder;
}

ol.commentlist{
    list-style: none;
}

/*Paginacao*/
.pagination{
   flex-direction: column;
   text-align: center;
}

.archive-title{
    text-transform: uppercase;
}

.motoslider_wrapper{
    margin-top:38px;
}

/*Contact FORM*/

.wpcf7-form input, .wpcf7-form textarea{
    background:white;
    border:1px solid silver;
}

.wpcf7-form input[type="submit"]{
    background:#8e44ad;
    color:white;
    border-radius:3px;
    cursor:pointer;
}

.wpcf7-form input[type="submit"]:hover{
    background:#9b59b6;
    transition:.2s;
}

@media (max-width:782px){
    .motoslider_wrapper{
        margin-top:24px;
    }
}

@media (max-width:767px){
    .blog-post,.blog-sidebar{
        text-align:center;
    }

    #wp-calendar{
        margin:0 auto;
    }

    .nav{
        display:none;
    }

    .nav-mobile{
        display:flex;
    }

    .nav-mobile .accordion{
        display:none;
    }

    .search-form-top{
        display:none;
    }
     .motoslider_wrapper{
        margin-top:4px;
    }
    .blog-post{
        width:100%;
    }

    .post-content{
        text-align:left !important;
    }


}

@media (max-width:500px){
    .slide-title{
    font-size:1rem !important;
    padding:1rem !important;
   }
   .slide-content{
    display:none !important;
   }
}

@media (max-width:440px){
    .blog-masthead h1{
        font-size:10px;
    }

}

.icons-medium{
    display:flex;
    justify-content: center
}

.icons-medium li{
    margin:0 0.5rem;
}

.icons-medium li:hover{
    opacity:0.5;
}

.icons-medium li img{
    border-radius:3px;
}



