/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

ul{
    padding:0;
    list-style:none;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
 * Masthead for nav
 */

nav{
    
}

.blog-masthead {
    position:fixed;
    z-index:1;
    width:100%;
    font-size:1.2rem;
    text-transform: uppercase;
    background-color: #2f3542;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.blog-masthead div{
    align-items:center;
}


/* Nav links */

.blog-nav li {
    display: inline;
}

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

#menu-menu-de-navegacao{
    margin-bottom:0 !important;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */

.blog-nav .current_page_item a {
    color: #fff;
}

.blog-nav .current_page_item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 40px;
    padding-bottom: 40px;
    background:url(img/bg-header.jpg) no-repeat center center fixed;
    background-size:cover;
}

.blog-header h1 a,.blog-header p,.blog-header h1{
    color:white;
    text-shadow:2px 1px 1px black;
}

.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.blog-description {
    font-size: 20px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */

.pager{
    display:flex;
    justify-content: space-between;
}
.pager a{
    color:#57606f
}

.pager a:hover{
    color:#2f3542;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */
.blog-main,.blog-sidebar{
    margin-top:3rem;
}
.blog-sidebar{
    background:#F5F5F5;
    border:1px dashed #57606f;
}

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

h2 a, li a,p a,h4 a{
    color:#57606f;
}

h2 a:hover,li a:hover, p a:hover, h4 a:hover{
    color:#2f3542;
}

.attachment-post-thumbnail{
    width:100%;
    height:auto;
}

.blog-post img{
    width:100%;
    height:auto;
}

.blog-post span{
    font-weight:bolder;
}

.blog-post h2{
    margin-top:1rem;
}

.post-image{
    max-height:500px;
    overflow: hidden;
}

.post-categories{
    list-style:none;
    padding:0;
}

form input, form button{
    border:none;
    height:35px;
    background:white;
}

form input{
    border-radius:2px;
    padding-left:10px;
}

form button{
    border-bottom-right-radius:2px; 
    border-top-right-radius:2px;
    margin-left:-6px;
    cursor:pointer;
}